html,body{
    width: 100%;
    height: 100vh;
}

body{
    background-color: #44c3e5;
    display: flex;
    justify-content: center;
}

#form_container{
    width: 500px;
    height: max-content;
    background-color: white;
    color: #44c3e5;
    display: flex;
    flex-direction: column;
    padding: 35px;
    margin: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    font-size: x-large;
}

input{
    width: 480px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea{
    width: 485px;
    height: 76px;
    resize: none;
    margin-top: 10px;
}

button{
    width: 490px;
    padding: 10px;
    background-color: #44c3e5;
    color: white;
    border: 1px #44c3e5 solid;
    margin-top: 15px;
    cursor: pointer;
}